{% extends "base_template.html" %}

{% block content %}
    <form action="{{ url_for('bp_open.signup_post') }}" method="POST">
        <input type="text" placeholder="First Name" name="first_name"/> <br/>
        <input type="text" placeholder="Last Name" name="last_name"/> <br/>
        <input type="email" placeholder="Email Address" name="email"/> <br/>
        <input type="password" id="pwd1" placeholder="Password" name="password"/> <br/>
        <input type="password" id="pwd2" oninput="checkPassword()" placeholder="Repeat Password" /> <br/>
        <input type="submit" id="submit" value="Save"  disabled/>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        function checkPassword() {
            let pwd1 = document.getElementById("pwd1");
            let pwd2 = document.getElementById("pwd2");
            if(pwd1.value === pwd2.value) {
                document.getElementById("submit").disabled = false;
            }
            else {
                document.getElementById("submit").disabled = true;
            }
        }

    </script>
{% endblock %}