{% extends "base_template.html" %}
{% set active_page = "signin" %}

{% block head %}

{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="notification">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
       <div class="form-container">
        <form autocomplete="off" action="{{ url_for('bp_open.signin_post') }}" method="POST">
            <div class="form-heading">
                Sign In
            </div>

                <input class="input-box" name="email" type="text" required placeholder="Email" /> <br />

                <input class="input-box" name="password" required type="password" placeholder="Password" /> <br />

                <input id="submit-btn" class="submit-btn" type="submit" value="Submit"/>

        </form>
    </div>
{% endblock %}
{% block scripts %}

{% endblock %}